/*sticky footer css template*/
.Site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.Site-content {
	flex: 1;
}

.container {
	background-color: black;
	color: lawngreen;
	text-align: center;
}

.instructions-wrapper{

}

.instructions-content{

}
