/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box; /*changes the way the box model behaves by default. Box model grows inside out. */
	font-family: monospace;
}

.container { /*grid structure that is required for bootstrap and other frameworks*/
	background-color: black;
	color: lawngreen;
	text-align: center;
	width: 100%;
}

.clearfix {
	clear: both; /*clears everything on right and left if you're using floats, Rochelle provided as a hint that we should use these.*/
}

/* create a responsive container */
/* default width is the full width of the viewport. Only as the screen gets larger, we progressively enhance.*/
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* Sticks footer down below, even if the content above is short.
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects Internet Explorer (IE) min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 2rem;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

.welcome-gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.instructions-wrapper {
	display: flex;
	padding: 10px;
	margin: 60px auto;
	border: 6px solid black;
}

img[alt*="captain janeway"] {
	flex: auto;
	max-height: 200px;
	max-width: 250px;
}

.about-me {
	display: auto;
	background-color: blue;
	color: white;
	padding: 20px;
}

img[alt*="captain picard"] {
	float: left;
	border: solid white;
	margin: 20px;
}

.beauty-rest {
	font-style: italic;
	color: yellow;
}


.skillz-header {
	text-align: right;
	padding: 10px;
}


table, th, td {
	background-color: #000000;
	color: lawngreen;
	border: 1px solid white;
	text-align: left;
	font-size: 1.5rem;
}

table {
	width: 80%;
	margin: 10px;
	padding: 10px;
}

.form-wrapper {
	background-color: darkgreen;
	border: 20px solid black;
	color: lawngreen;
	padding: 2em;
}

.form-wrapper label, input, textarea {
	display: block;
	margin-bottom: 10px;
}

.form-wrapper input, textarea {
	width: 30%;
}

.form-wrapper button {
	background-color: lawngreen;
	color: black;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}

